.signPage {
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign {
    min-height: 32rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 10px;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 22rem;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #142424;
    background-image: url(../../assets/Guestify.png);
    background-size: 160%;
    background-position: 32%;
    background-repeat: no-repeat;
}

.left h1 {
    margin: 1rem;
    text-align: center;
    color: white;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signIn, .signUp {
    width: 22rem;
    padding: 1rem;
    transition-duration: 1s;
    justify-self: center;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.84);
}

.inpField {
    position: relative;
    margin: 1rem 0;
}

.inpField input {
    padding-left: 2.5rem;
    background-color: rgb(234, 234, 234);
}

.inpField select {
    padding-left: 2.5rem;
    background-color: rgb(234, 234, 234);
}

.icons {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    color: rgba(0, 0, 0, 0.748);
}

.button {
    width: 100%;
    background-color: #2E8B57 !important;
    display: block !important;
    margin: auto !important;
}

.bottomNav {
    display: flex;
    justify-content: center;
}

.bottomText {
    color: black;
}

.getSignUp {
    text-decoration: underline;
    text-decoration-color: rgb(144, 144, 223);
    color: rgb(47, 47, 245);
    cursor: pointer;
}

.status {
    margin: 1rem auto 0 auto;
    display: block;
    text-align: center;
    color: red;
}

@media screen and (max-width: 800px) {
    .sign {
        min-height: auto;
    }

    .left {
        display: none;
    }
}
