nav {
    max-width: 100vw;
    min-height: 5rem;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.375);
}

.options {
    margin-left: auto;
}

.h1 {
    margin-left: 8rem;
    font-weight: 700;
    font-size: 2rem;
}

ul {
    margin: 0 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

.btn, .btn2 {
    margin: 0.5rem !important;
    font-weight: 700 !important;
}