.GuestReqLetter {
    background-color: white;
    margin: 1rem;
    padding: 0.5rem;
}

.guestReqLetter {
    margin: 1rem;
    padding: 0.5rem;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p {
    margin-bottom: 0.2rem;
}

.from, .to, .date, .subject {
    margin-bottom: 1.5rem;
}

.from h5, .to h5 {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

.date p {
    font-weight: 500;
}

.subjectHead {
    display: flex;
    align-items: center;
}

.subjectHead h5{
    font-size: 1.05rem;
    min-width: 4.5rem;
    margin: 0 0.5rem 0 0;
}

.subjectHead p {
    margin: 0;
    font-weight: 500;
    font-size: 0.93rem;
}

.reasonOfArrival {
    text-align: justify;
}


.guestsDtl {
    margin-top: 3rem;
    padding: 1rem;
    border: 2px dashed rgba(0, 0, 0, 0.244);
    
}

.guestsDtl h4 {
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.guestDtl {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 1rem;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.inpField {
    display: flex;
    margin: 0.5rem 0;
}

.inpField p b {
    font-weight: 500;
    color: rgb(78, 78, 78);
}

.rejectComponent {
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.approveRequestComponent {
    border: 2px solid green;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.allocateRoomComponent {
    border: 2px solid green;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.btnReject, .btnApprove {
    display: block !important;
    margin-left: auto !important;
}

.status {
    display: block;
    margin: 1rem auto;
    text-align: center;
    color: green;
}

.foodPreference, .foodTimings {
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.foodTimings {
    flex-direction: column;
}

.foodPreference label {
    margin-right: 1rem;
}

.foodPreference input{
    margin-right: 0.2rem;
} 

.foodTimings input {
    margin-left: 0.3rem;
}

.foodInpField {
    margin: 0.1rem 0;
}

@media screen and (max-width: 760px) {
    .guestReqLetter {
        padding: 0.5rem 0.2rem;
    }
}